<footer>
    <div class="f-info ">
       <div class="f-info-social">
        <a href="https://github.com/swapnagajula16" style="color: black"><i class="fa-brands fa-github"></i></a>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <a href="https://www.linkedin.com/in/swapna-gajula-1747b7273/" style="color: black"><i class="fa-brands fa-linkedin"></i></a>
       </div>
        <div class="f-info-brand" > &copy; GuestNest Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>